.video_bg {
  
}

@media screen and (max-width: 640px) {
  .video_bg {
    background-image: url('/images/intro-background.jpg');
    background-size: cover;
    background-position: center;
    video {
      display: none;
    }
  }
}

.note_container {

}

@media screen and (max-width: 980px) {
  .note_container {
    display: none;
  }
}